h1 
{
    text-align: center;
}

body 
{
    background-image: url("Background.JPG");
}

table, td, th 
{
    border: 1px solid;
}
  
table 
{
    width: 100%;
    border-collapse: collapse;
}

button.knop_wissel 
{
    border-width: 5px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 8px;
}

h3.Datum
{
    outline-style: solid;
    width: 40%;
    background-color: rgb(161, 232, 255);
    text-align: center;
}
